<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 针对网页的设置，不加的话有的网页显示不出来 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 网页名 -->
    <title>点餐系统-后台管理</title>
</head>
<body>
<div class="index-div">
    <div class="title">
        <h1 align="center">点餐系统</h1>
    </div>
    <div class="content">
        <!-- 页面跳转 -->
        <a href="/order" class="btn1 a1">查看订单</a>
        <a href="/menu/admin" class="btn2 a2">查看菜品供应量</a>
        <a href="/index" class="btn2 a3">返回主菜单</a>
    </div>
</div>
</body>
</html>
