<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 针对网页的设置，不加的话有的网页显示不出来 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 网页名 -->
    <title>点餐系统-会员登录</title>
</head>
<body>
<div class="login-div">
    <div class="title">
        <!-- 标题(1-6) -->
        <h1 align="center">会员登录</h1>
        <!-- 页面跳转 -->
        <a href="/menu" class="btn1">返回菜单</a>
    </div>
    <div class="content">
        <!-- th:if 进行判断-->
        <span th:if="${error}" class="tip">用户名或密码错误，请重新输入！</span>
        <form action="/login" method="POST">
            <div class="username">
                <label for="username-form" class="username-label">用户名:</label>
                <input id="username-form" class="form-input" type="text" name="username" placeholder="请输入用户名">
            </div>
            <div class="password">
                <label for="password-form" class="password-label">密码:</label>
                <input id="password-form" class="form-input" type="password" name="password" placeholder="请输入密码">
            </div>
            <div class="button">
                <input type="submit" value="登录" class="btn login">
                <!-- 页面跳转 -->
                <a href="/register" class="btn register">注册</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>